@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&family=Philosopher:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap");
/* line 1, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
body {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  background: #ffffff;
  height: 100%;
}

/* line 100, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#header .navbar {
  background-color: #3f37c9;
}

/* line 102, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#header .navbar .navbar__img {
  width: 100px;
}

/* line 109, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#navbarNav .navbar-nav {
  margin: auto;
  font-weight: 700;
}

/* line 113, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#navbarNav .nav-link {
  color: #ffffff;
}

/* line 118, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-primary {
  background-color: #f72585;
  color: #ffffff;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 15px -6px #03071e;
}

/* line 124, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-primary:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #3f37c9;
  box-shadow: 0px 0px 0px -6px #ffffff;
  border-color: transparent;
}

/* line 133, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-secondary {
  background-color: transparent;
  color: #ffffff;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-align: left;
}

/* line 140, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-secondary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: #ffffff;
  background-color: #f72585;
  border-color: transparent;
}

/* line 149, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* line 153, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

/* line 157, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.navbar-nav li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 164, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.carousel-item h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

/* line 169, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.carousel-item p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}

/* line 177, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.carousel-iphone h5 {
  color: #03071e;
  font-size: 30px;
  font-weight: 700;
}

/* line 182, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.carousel-iphone p {
  color: #03071e;
  font-size: 25px;
}

/* line 188, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.videoplayer {
  height: 70vh;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 196, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.subtituloiphone {
  background-image: url("../media/iphonemorado1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 60vh;
}

/* line 202, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.subtituloiphone h2 {
  margin-top: 30px;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: mediumpurple;
}

/* line 213, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.iphoneMoradoTexto h3 {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #7b2cbf;
}

/* line 222, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
h1 {
  padding: 10px;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 25px;
  color: #f72585;
  text-align: center;
  margin-bottom: 15px;
}

/* line 231, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
h2 {
  padding: 15px;
  color: #3f37c9;
  font-size: 30px;
}

/* line 237, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
h3 {
  padding: 15px;
  color: #f72585;
}

/* line 242, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
h4 {
  color: #ff477e;
  font-weight: bold;
}

/* line 247, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.parrafos {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  padding: 25px;
  color: #3f37c9;
  box-shadow: 7px 13px 37px whitesmoke;
}

/* line 255, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.parrafos .textA {
  width: 50%;
}

/* line 258, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.parrafos .textB {
  width: 50%;
}

/* line 263, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla {
  display: grid;
  grid-template-areas: "iphone ipad macbook" "watch . airpods";
  grid-template-columns: 3fr 0fr 3fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  height: 100vh;
  margin-top: 60px;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  color: #f72585;
}

/* line 278, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .iphone {
  grid-area: iphone;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 283, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .iphone:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 289, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .ipad {
  grid-area: ipad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 294, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .ipad:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 300, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .macbook {
  grid-area: macbook;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 306, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .macbook:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 312, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .watch {
  grid-area: watch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
}

/* line 319, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .watch:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 325, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .airpods {
  grid-area: airpods;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
}

/* line 332, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#grilla .airpods:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/* line 340, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.showroom {
  max-width: 100%;
  height: 40rem;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}

/* line 348, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.subtitulo {
  background-color: #f72585;
  color: #ffffff;
  text-align: center;
}

/* line 354, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#textFormat {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Philosopher", sans-serif;
  color: #03071e;
  line-height: 1.5;
}

/* line 364, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.datos {
  text-align: center;
}

/* line 366, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.datos h2 {
  font-size: 25px;
}

/* line 369, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.datos h3 {
  font-size: 20px;
}

/* line 374, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 380, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 382, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorOfertas .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 388, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIphone .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 392, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorIpad .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 396, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorMacbook .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 400, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorWatch .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 404, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods {
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 1280px;
  height: 100vh;
  margin: auto;
}

/* line 14, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  color: #3f37c9;
  background-color: #ffffff;
}

/* line 21, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 26, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto {
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  margin: auto;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  color: #03071e;
}

/* line 39, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto h4 {
  color: #f72585;
  font-size: 20px;
}

/* line 43, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto p {
  color: #3f37c9;
}

/* line 46, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto .tachado {
  color: #f72585;
  text-decoration: line-through;
}

/* line 50, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedorAirpods .productos .boxproducto .btn-primary {
  margin-left: 0px;
}

/* line 408, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#pie {
  background-color: none;
  height: 80px;
  width: 100%;
  bottom: 0px;
}

/* line 413, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#pie .redes {
  width: 80%;
  max-width: 1280px;
  margin: auto;
  display: block;
  width: 200px;
  float: center;
}

/* line 420, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#pie .redes img {
  display: block;
  width: 60%;
  margin: auto;
}

/* line 428, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm {
  background-color: #3f37c9;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: "ubuntu", sans-serif;
  text-align: center;
  color: #ffffff;
  box-shadow: 7px 13px 37px #03071e;
}

/* line 440, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm .control {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #f72585;
  font-family: "ubuntu", sans-serif;
  font-size: 18px;
}

/* line 450, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm select {
  text-align: center;
}

/* line 453, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm .boton {
  width: 70%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #f72585;
  font-size: 18px;
}

/* line 464, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm .boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  box-shadow: 0px 0px 15px -6px #ffffff;
}

/* line 470, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm .boton:active {
  transform: translateY(3px);
}

/* line 473, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.contenedorForm .control:focus {
  height: 60px;
}

/* line 478, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer {
  background: #3f37c9;
  height: 80px;
  width: 100%;
  font-weight: 700;
}

/* line 483, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .botonera {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

/* line 487, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .botonera ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

/* line 493, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .botonera ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* line 497, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .botonera ul li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

@media all and (max-width: 992px) {
  /* line 508, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  /* line 519, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item h5 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }
  /* line 524, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
  }
  /* line 532, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone h5 {
    color: #03071e;
    font-size: 22px;
    font-weight: 700;
  }
  /* line 537, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone p {
    color: #03071e;
    font-size: 18px;
  }
  /* line 543, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  /* line 550, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #footer .botonera {
    width: 80%;
    max-width: 1280px;
    margin: 0;
  }
  /* line 554, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #footer .botonera ul {
    display: flex;
  }
}

@media all and (max-width: 576px) {
  /* line 562, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item h5 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }
  /* line 567, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
  }
  /* line 575, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone h5 {
    color: #03071e;
    font-size: 22px;
    font-weight: 700;
  }
  /* line 580, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone p {
    color: #03071e;
    font-size: 18px;
  }
  /* line 586, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #textFormat {
    font-size: 16px;
  }
  /* line 590, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .subtitulo {
    font-size: 18px;
  }
  /* line 594, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .showroom {
    max-width: 100%;
    height: 12rem;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
  }
  /* line 602, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #grilla {
    display: flex;
    flex-direction: column;
    height: 210vh;
    margin: auto;
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
  }
  /* line 612, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .parrafos {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    color: #3f37c9;
    height: 300px;
    box-shadow: 7px 13px 37px whitesmoke;
    margin-bottom: 20px;
  }
  /* line 622, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .parrafos .textA {
    width: 100%;
  }
  /* line 625, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .parrafos .textB {
    width: 100%;
  }
  /* line 630, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .videoplayer {
    width: 300px;
    height: 500px;
    display: flex;
    margin: auto;
  }
  /* line 637, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedor {
    height: 350vh;
  }
  /* line 639, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedor .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 646, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedor .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 655, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas {
    height: 200vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 658, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorOfertas .tachado {
    color: #f72585;
    text-decoration: line-through;
  }
  /* line 664, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone {
    height: 340vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIphone .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 669, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad {
    height: 220vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorIpad .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 674, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook {
    height: 300vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorMacbook .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 679, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch {
    height: 330vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorWatch .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 684, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods {
    height: 320vh;
  }
  /* line 58, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 65, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos .boxproducto {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
  }
  /* line 70, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos .boxproducto h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    color: #03071e;
  }
  /* line 77, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos .boxproducto h4 {
    color: #f72585;
    font-size: 20px;
  }
  /* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos .boxproducto p {
    color: #3f37c9;
  }
  /* line 84, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #contenedorAirpods .productos .boxproducto .btn-primary {
    margin-left: 0px;
  }
  /* line 689, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #footer {
    height: 100%;
    padding-bottom: 20px;
    position: static;
  }
  /* line 693, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #footer .botonera {
    width: 80%;
  }
  /* line 695, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  #footer .botonera ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media all and (max-width: 360px) {
  /* line 706, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  /* line 711, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-item p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
  }
  /* line 719, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone h5 {
    color: #03071e;
    font-size: 18px;
    font-weight: 700;
  }
  /* line 724, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
  .carousel-iphone p {
    color: #03071e;
    font-size: 16px;
  }
}

/*# sourceMappingURL=estilos.css.map */