@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
/* line 1, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
body {
  font-family: "ubuntu", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

/* line 8, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#header .navbar {
  background-color: #f72585;
}

/* line 10, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#header .navbar .navbar__img {
  width: 100px;
}

/* line 17, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#navbarNav .nav-link {
  color: #3f37c9;
}

/* line 22, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-secondary {
  background-color: transparent;
  box-shadow: 0px 0px 15px -6px black;
  color: #ffffff;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-align: left;
}

/* line 32, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-secondary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: #ffffff;
  background-color: #49a09d;
  border-color: transparent;
}

/* line 40, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* line 44, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

/* line 48, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-primary {
  background-color: #5f2c82;
  box-shadow: 0px 0px 15px -6px black;
  color: #ffffff;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-left: 90px;
}

/* line 57, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.btn-primary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: #ffffff;
  background-color: #49a09d;
  border-color: transparent;
}

/* line 66, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.row {
  margin: 0px;
}

/* line 69, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.card {
  text-align: center;
}

/* line 71, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
.card .card-body {
  font-weight: 300;
  line-height: 2;
}

/* line 78, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .navbar {
  background-color: #f72585;
}

/* line 81, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#footer .navbar-nav {
  margin: auto;
}

/* line 86, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor {
  padding-top: 50px;
  max-width: 1280px;
  margin-bottom: 20px;
}

/* line 92, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff477e;
  background-color: papayawhip;
}

/* line 101, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
}

/* line 108, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor .productos {
  max-width: 800px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 118, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor .productos .boxproducto {
  width: 40%;
  float: left;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: yellow;
}

/* line 127, ../../../../../Users/manuelmac/Desktop/proyecto_final/scss/_main.scss */
#contenedor .productos .boxproducto .tachado {
  color: whitesmoke;
  text-decoration: line-through;
}

/*# sourceMappingURL=estilos.css.map */