body{
	font-family: $fuente;
	font-weight: $regular;
	background: $primary;
}

#header{
	.navbar{
		background-color: $accent;
		.navbar__img{
			width: 100px;
		}
	}
}

#navbarNav{
	.nav-link{
		color: $secondary;
	}
}

.btn-secondary {
  background-color: $no-color;
  box-shadow: 0px 0px 15px -6px black;
  color: $primary;
  border-color: $no-color;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  text-align: left;
}

.btn-secondary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: $primary;
  background-color: #49a09d;
  border-color: $no-color;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}

.dropdown>.dropdown-toggle:active{
	pointer-events: none;
}

.btn-primary {
  background-color: #5f2c82;
  box-shadow: 0px 0px 15px -6px black;
  color: $primary;
  border-color: $no-color;
  transition: all 0.2s ease-in-out;
  margin-left: 90px;
}

.btn-primary:hover {
  box-shadow: 0px 0px 0px -6px black;
  text-decoration: none;
  color: $primary;
  background-color: #49a09d;
  border-color: $no-color;

}

.row{
	margin: 0px;
}
.card{
	text-align: center;
	.card-body{
		font-weight: $light;
		line-height: 2;
	}
}

#footer{
	.navbar{
		background-color: $accent;
	}
	.navbar-nav{
		margin: auto;
	}
}

#contenedor{
	padding-top: 50px;
	max-width:	1280px;	
	margin-bottom: 20px;
}

#contenedor h2{
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff477e;
	background-color: papayawhip;
}

#contenedor h3{
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin-top: 30px;
}

#contenedor .productos{
	max-width: 800px;
	width: 70%;
	margin: auto;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#contenedor .productos .boxproducto{
	width: 40%;
	float: left;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: yellow;
}

#contenedor .productos .boxproducto .tachado{
	color: whitesmoke;
	text-decoration: line-through;
}














