$primary: #ffffff;
$secondary: #345CBD;
$tertiary: #03071e;
$accent: #f72585;
$no-color: transparent;
$fuente: 'ubuntu' ,sans-serif;
$fuenteN: 'Archivo Narrow', sans-serif;
$fuenteP: 'Philosopher', sans-serif;
$light: 300;
$medium: 500;
$regular: 400;
$bold: 700;